@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    width: 100%;
}
/*Añadimos un color al fondo */
body {
    position: absolute;
    background: linear-gradient(to top, #141E30 , #243B55);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family:'Roboto';
    z-index: 1;
    position: relative
}
/*Añadimos un background al fondo con una opacidad bajada */
body:after {
    content: "";
    background: url('http://pre02.deviantart.net/b263/th/pre/f/2016/144/8/f/stratosphere_by_atlas091-da3mtnb.jpg') center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.05;
    z-index: -1;
}

.form-login {
    text-align: center;
    margin-top: 40%;
}

.btn-login {
    color: #ffcc00 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    box-shadow: inset 2px 10px 5px -12px rgba(235, 235, 235, 1);
    background-color: #3b4663;
    border-color: #3b4663;
    width:100%;
    margin:0,auto;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    color: #ffcc00;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #3b4663;
    background-image: none;
    border: 1px solid #424d6b;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #3b4663;
    border-color: #3b4663;
}
.div-center{
    width:100%;
    margin:0 auto;
}
.input-password{
    width:100%;
    margin:0 auto;
}
.input-password-left {
    margin-right: 10px;
}

.input-password-right {
    
}

.row-inline { 
    margin-right: -15px ;
    margin-left: -15px;
    width: 100%;
    margin-bottom: 15px !important;
    display: inline-flex !important;
}