@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    height: 100%;
    width: 100%;
}

body {
    position: absolute;
    background: linear-gradient(to top, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    position: relative
}

body:after {
    content: "";
    background: url('/app/img/fondo1.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.07;
    z-index: -1;
}

/* Imagen logo para ventana 1 */
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* Diseño para botones principales */
.btn-blueword {
    color: #ffcc00 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size:15px;
    box-shadow: inset 2px 10px 5px -12px rgba(235,235,235,1);
    background-color: #3b4663;
    border-color: #3b4663;
}

/* Botón de inicio de sesión de Google*/
.abcRioButton.abcRioButtonLightBlue {
    margin: 0 auto;
    width: 100% !important;
    padding-right:40px;
    margin-bottom: 17px;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 40px !important;
    background-color: #f3f3f3;

}
.abcRioButton.abcRioButtonLightBlue {
    margin: 0 auto;
    width: 100% !important;
    margin-bottom: 13px;
    height: 42px;
    background-color: #f3f3f3;
}
.abcRioButtonContents {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 44px !important;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
}
.abcRioButtonIcon {
    padding:13px !important;
}
.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}